<ion-content [fullscreen]="true">

<!--<ion-card 
    class="notification-card" 
    (click)="toggleNotifications()" 
    [ngStyle]="{'background-color': notificationsEnabled ? '#4bca0c' : '#e03f41'}">
    <ion-card-content>
      <h2>Primanje PUSH obavijesti</h2>
      <p class="notification-status">{{ notificationsEnabled ? 'Uključeno' : 'Isključeno' }}</p>
    </ion-card-content>
  </ion-card>-->

  <p class="email">moj.username@gmail.com</p>

  <div class="border"></div>

  <ion-card class="notification">
    <div class="wrapper">
      <h2>Primanje notifikacija</h2>
      <p>isključeno</p>
    </div>
    <ion-toggle mode="ios" aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
  </ion-card>
  <div class="border"></div>


  <ion-card class="location">
  <div class="wrapper">
    <h2>Određivanje lokacija</h2>
    <p>sve lokacije</p>
  </div>

  <ion-toggle mode="ios" aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
</ion-card>
  <ion-card class="card lokacije">
    Popis lokacija
    <img src="assets/map marker.png" alt="map marker" class="card-img filter">
  </ion-card>
  <div class="border"></div>


  <ion-card class="card">
    Promjena lozinke
    <img src="assets/lock.png" alt="lock icon" class="card-img filter">
  </ion-card>
  <ion-card class="card">
    Promjena jezika
    <img src="assets/croatia.png" alt="language icon" class="card-img">
  </ion-card>
  <ion-card class="card">
    Obriši korisnički račun
    <img src="assets/trash_can.png" alt="trash icon" class="card-img filter">
  </ion-card>
  <ion-card class="card">
    Odjava
    <img src="assets/arrow.png" alt="exit icon" class="card-img filter">
  </ion-card>

  <div class="space"></div>


  <ion-footer>

        <ion-button class="footer-button home-button" (click)="navigateTo('home')">
          <div class="footer-btn-container">
            <img src="assets/home.png" alt="home icon" class="footer-icon">
            <p>Početni ekran</p>
          </div> 
        </ion-button>

        <ion-button class="footer-button list-button" (click)="navigateTo('popis')">
          <div class="footer-btn-container">
            <img src="assets/list.png" alt="list icon" class="footer-icon">
            <p>Popis objava</p>
          </div>
        </ion-button>

        <ion-button class="footer-button" (click)="navigateTo('profil')">
          <div class="footer-btn-container">
            <img src="assets/profil.png" alt="profil icon" class="footer-icon">
            <p>Korisnički profil</p>
          </div>
        </ion-button>

  </ion-footer>
  
</ion-content>
