ion-content {
  font-family: "Roboto";
}

h1 {
  font-family: "Roboto";
  text-align: center;
}

h2 {
  color: #757575;
  font-family: "Roboto";
  font-weight: 900;
}

p {
  margin-left: 1rem;
}

.notification,
.location {
  margin: 1rem;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin-right: 1.3rem;
}

.border {
  border-bottom: 1px solid rgb(133, 132, 132);
  width: 60%;
  margin: 1rem 0;
}

.card {
  --background: #ebebeb;
  width: 90%;
  border-radius: 8px;
  margin: 1rem auto 0 auto;
  padding: 2rem;
  box-shadow: none;
  color: black;
  font-size: 1rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-family: "Roboto";
    font-size: 1.2rem;
    text-align: left;
  }
}

ion-footer {
  box-shadow: none;
  background-color: #f0f0f0;
  height: 5rem;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-button {
  --background: transparent;
  --box-shadow: none;
  margin:  0;
}

.home-button,
.list-button {
  border-right: 2px solid #ffffff;
}

svg {
  width: 20vmin;
  height: 10vmin;
}

.card-img {
  height: 8vmin;
}

.space {
  margin: 8rem 0;
}

.footer-icon {
  height: 10vmin;
  margin-left: 1rem;
}

p {
  font-family: "Roboto";
  color: black;
  font-size: 0.7rem;
  text-transform: none;
}
