ion-content {
  --background: #222222;
}

.custom-player {
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  .player-controls {
    display: flex;
    align-items: center;
    gap: 10px;

    ion-range {
      flex: 1;
    }

    span {
      font-size: 14px;
      opacity: 0.8;
    }
  }

  .play-button {
    width: 13%;
    background: transparent;
    border: 3px solid #ff0479;
    border-radius: 50%;
    box-shadow: 0 0 10px #ff0479;
    ion-icon {
      font-size: 24px;
    }
  }

  ion-range {
    --bar-background: #ff0479;
    --knob-background: #ff0479;
  }

  .play-icon {
    color: #ff0479;
    transform: scale(2);
  }
}

.no-audio {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
