ion-header {
  box-shadow: none;
  padding: 1rem 0;
  
  img {
    height: 30vmin;
  }
}

ion-content {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Roboto";
}

form {
  padding-bottom: 3rem;
  margin: 1rem auto;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

h1 {
    --color: #000000;
    border-bottom: 5px solid #068ac0;
    font-size: 1.3rem;
    width: 60%;
    text-transform: uppercase;
    margin: 1rem;
}

.action-btn {
  --background: #ebebeb;
  --color: #494848;
  --box-shadow: none;
  --border-radius: 10px;
  width: 90%;
  margin: 2rem auto;
  height: 18vmin;
  font-weight: 900;
  font-size: 1.2rem;
  opacity: 1;
  text-transform: none;
  

  svg {
  width: 20vmin;
  height: 7vmin;
 }

 .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 }

}

h3 {
  text-align: center;
  font-size: 1.375rem
}

ion-item {
  width: 85%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  border: #92949c 1px solid;
}

ion-item {
  --highlight-color-focused: #3a7afe;

  &.invalid {
    border-bottom: 3px solid #e74c3c;
    border-radius: 8px;
  }

  &.valid {
    border-bottom: 3px solid #2ecc71;
    border-radius: 8px;
  }

  ion-label.active-label {
    color: #3a7afe;
  }
}

ion-label {
  position: relative;
  left: 8%;
  color: #7c7c7c;
  font-size: 1.2rem;
}

.error {
  color: #e74c3c;
  font-size: 0.8rem;
  margin: 4px 0 8px 35px;
  text-align: left;
}

.forget-password {
  text-align: right;
  font-size: 0.9rem;
  color: #7c7c7c;
  margin: 1rem;
  position: absolute;
  right: 0;
}

ion-footer {
  box-shadow: none;
  background-color: #f0f0f0;
  height: 5rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

.footer-button {
  --background: transparent;
  --box-shadow: none;
  margin:  0;
}

.home-button,
.list-button {
  border-right: 2px solid #ffffff;
}

.footer-icon {
  height: 10vmin;
}

.footer-title {
  font-family: "Roboto";
  color: black;
  font-size: 0.7rem;
  text-transform: none;
}
