<ion-content [fullscreen]="true">
  <ion-list>
    <p *ngIf="audios.length === 0" class="no-audios">Nema zvukova na popisu</p>
    <ion-item *ngFor="let audio of audios">
      <ion-label>
        <p>{{ audio.name || 'Audio' }}</p>
      </ion-label>
      <ion-button class="play-button" (click)="playAudio(audio)">
        <img src="assets/audio-icon.png" alt="play icon" class="play-icon">
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-footer>

        <ion-button class="footer-button home-button" (click)="navigateTo('home')">
          <div class="footer-btn-container">
            <img src="assets/home.png" alt="home icon" class="footer-icon">
            <p>Početni ekran</p>
          </div> 
        </ion-button>

        <ion-button class="footer-button list-button" (click)="navigateTo('popis')">
          <div class="footer-btn-container">
            <img src="assets/list.png" alt="list icon" class="footer-icon">
            <p>Popis objava</p>
          </div>
        </ion-button>

        <ion-button class="footer-button" (click)="navigateTo('profil')">
          <div class="footer-btn-container">
            <img src="assets/profil.png" alt="profil icon" class="footer-icon">
            <p>Korisnički profil</p>
          </div>
        </ion-button>

  </ion-footer>
  
</ion-content>
