<ion-content [fullscreen]="true">
  <div class="title">
    <img src="assets/croatia.png" alt="language icon" class="card-img">
    <h1>Hrvatska</h1>
  </div>

  <ion-card class="notification">
    <div class="wrapper">
      <h2>Zagreb</h2>
    </div>
    <ion-toggle mode="ios" aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
  </ion-card>

  <ion-card class="notification">
    <div class="wrapper">
      <h2>Rijeka</h2>
    </div>
    <ion-toggle mode="ios" aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
  </ion-card>

  <ion-card class="notification">
    <div class="wrapper">
      <h2>Split</h2>
    </div>
    <ion-toggle mode="ios" aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
  </ion-card>

  <ion-card class="notification">
    <div class="wrapper">
      <h2>Osijek</h2>
    </div>
    <ion-toggle mode="ios" aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
  </ion-card>

</ion-content>

<ion-footer>

        <ion-button class="footer-button home-button" (click)="navigateTo('home')">
          <div class="footer-btn-container">
            <img src="assets/home.png" alt="home icon" class="footer-icon">
            <p>{{ 'HOME' | translate }}</p>
          </div> 
        </ion-button>

        <ion-button class="footer-button list-button" (click)="navigateTo('popis')">
          <div class="footer-btn-container">
            <img src="assets/list.png" alt="list icon" class="footer-icon">
            <p>{{ 'LIST' | translate }}</p>
          </div>
        </ion-button>

        <ion-button class="footer-button" (click)="navigateTo('profil')">
          <div class="footer-btn-container">
            <img src="assets/profil.png" alt="profil icon" class="footer-icon">
            <p>{{ 'PROFILE' | translate }}</p>
          </div>
        </ion-button>

  </ion-footer>
