<ion-content>

  <ng-container *ngFor="let country of countries">

    <ion-card class="title">
      <ion-card-header>
        <ion-card-title>{{ country.name }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-item
      *ngFor="let city of country.cities"
      lines="none">

      <div class="wrapper">
      <ion-label>{{ city.name }}</ion-label>
      </div>

      <ion-toggle
        slot="end"
        color="success"
        [(ngModel)]="city.enabled">
      </ion-toggle>

    </ion-item>

  </ng-container>

  <div class="space"></div>

</ion-content>

<ion-footer>

        <ion-button class="footer-button home-button" (click)="navigateTo('home')">
          <div class="footer-btn-container">
            <img src="assets/home.png" alt="home icon" class="footer-icon">
            <p>{{ 'HOME' | translate }}</p>
          </div> 
        </ion-button>

        <ion-button class="footer-button list-button" (click)="navigateTo('popis')">
          <div class="footer-btn-container">
            <img src="assets/list.png" alt="list icon" class="footer-icon">
            <p>{{ 'LIST' | translate }}</p>
          </div>
        </ion-button>

        <ion-button class="footer-button" (click)="navigateTo('profil')">
          <div class="footer-btn-container">
            <img src="assets/profil.png" alt="profil icon" class="footer-icon">
            <p>{{ 'PROFILE' | translate }}</p>
          </div>
        </ion-button>

  </ion-footer>
