ion-header {
  box-shadow: none;
  padding: 1rem 0;

  img {
    height: 30vmin;
  }
}

ion-content {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Roboto";
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.title {
display: flex;
justify-content: flex-start;
align-items: center;
border: 1px solid #92949c;
border-radius: 15px;
padding: 1rem;
margin-left: 1rem;
margin-top: 2rem;
width: 90%;
}

h1 {
  text-align: center;
  color: #5f5f5f;
}

p {
  font-size: 1.1rem;
  margin: 2rem 1rem;
  color: #727272;
  line-height: 2rem;
}

.izbor-title {
     --color: #000000;
  border-bottom: 4px solid #068ac0;
  margin: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  width: 60%;
  text-align: right;
}

.card-img {
    height: 4vh;
    margin: 0 1rem;
}

.action-btn {
  --background: #ebebeb;
  --color: #494848;
  --box-shadow: none;
  --border-radius: 10px;
  width: 90%;
  margin: 5rem auto;
  height: 18vmin;
  font-weight: 900;
  font-size: 1.2rem;
  opacity: 1;
  text-transform: none;
  

  svg {
  width: 20vmin;
  height: 7vmin;
 }

 .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 }

}

h3 {
  text-align: center;
  font-size: 1.375rem
}

ion-footer {
  box-shadow: none;
  background-color: #f0f0f0;
  height: 5rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-button {
  --background: transparent;
  --box-shadow: none;
  margin:  0;
}

.home-button,
.list-button {
  border-right: 2px solid #ffffff;
}

.footer-icon {
  height: 10vmin;
}

.footer-title {
  font-family: "Roboto";
  color: black;
  font-size: 0.7rem;
  text-transform: none;
  margin: 0.5rem;
}
