<ion-header>
  <img src="assets/header_img.png" alt="logo" class="logo">
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="izbor-title">{{ 'LOGOUT_TITLE' | translate }}</h1>

  <p>{{ 'LOGOUT_TEXT' | translate }}</p>

  <ion-button
  expand="block"
  class="action-btn">

  <div class="wrapper">
    {{ 'LOGOUT_BUTTON' | translate }}

    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 400" preserveAspectRatio="xMidYMid meet">
     <defs>
    <linearGradient id="grad1" x1="0%" x2="100%" y1="0%" y2="0%">
      <stop offset="0%" stop-color="#00bcd4" />
      <stop offset="100%" stop-color="#017dc3" />
    </linearGradient>
  </defs>
    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
    fill="url(#grad1)" stroke="none">
    <path d="M320 5106 c-147 -41 -267 -162 -306 -310 -11 -42 -14 -384 -14 -2021
    0 -2157 -3 -2031 57 -2135 37 -62 111 -134 169 -163 27 -13 350 -125 719 -248
    l670 -224 90 0 c110 0 172 20 255 81 67 49 121 123 150 207 16 46 20 82 20
    202 l0 145 353 0 c402 0 442 5 577 71 162 79 293 244 334 419 23 97 23 1033 1
    1088 -67 160 -299 170 -383 17 -15 -26 -18 -89 -22 -520 l-5 -490 -25 -45
    c-14 -24 -45 -58 -68 -75 l-44 -30 -359 -3 -359 -3 -2 1653 -3 1653 -32 67
    c-52 110 -122 175 -242 225 l-56 23 527 -3 526 -2 44 -30 c23 -17 54 -51 68
    -75 l25 -45 5 -387 5 -386 30 -43 c45 -64 104 -91 187 -87 82 4 139 39 175
    107 23 44 23 45 23 435 0 438 -3 465 -68 596 -54 110 -168 223 -282 279 -152
    74 -80 71 -1460 70 -957 -1 -1245 -4 -1280 -13z"/>
    <path d="M3965 4031 c-22 -10 -52 -31 -67 -47 -56 -60 -58 -73 -58 -444 l0
    -340 -448 0 -448 0 -53 -26 c-134 -67 -158 -244 -46 -342 27 -23 63 -44 90
    -51 29 -7 191 -11 474 -11 l431 0 0 -331 c0 -234 4 -344 12 -373 25 -81 118
    -146 209 -146 80 1 107 24 567 483 462 461 492 497 492 576 0 96 8 87 -478
    574 -301 301 -471 464 -498 477 -51 25 -126 25 -179 1z"/>
    </g>
    </svg>


  </div>
  
</ion-button>

</ion-content>

<ion-footer>

        <ion-button class="footer-button home-button" (click)="navigateTo('home')">
          <div class="footer-btn-container">
            <img src="assets/home.png" alt="home icon" class="footer-icon">
            <p class="footer-title">{{ 'HOME' | translate }}</p>
          </div> 
        </ion-button>

        <ion-button class="footer-button list-button" (click)="navigateTo('popis')">
          <div class="footer-btn-container">
            <img src="assets/list.png" alt="list icon" class="footer-icon">
            <p class="footer-title">{{ 'LIST' | translate }}</p>
          </div>
        </ion-button>

        <ion-button class="footer-button" (click)="navigateTo('profil')">
          <div class="footer-btn-container">
            <img src="assets/profil.png" alt="profil icon" class="footer-icon">
            <p class="footer-title">{{ 'PROFILE' | translate }}</p>
          </div>
        </ion-button>

  </ion-footer>
